*, *::before, ::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  img {
    display: block;
    width: 100%;
    height: auto;
  }
  
  a {
    text-decoration: none;
  }
  
  .header {
    background: #212529;
    color: #FAFDFF;
    padding: 1em;
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 70px;
  }
  .l-container{
    background: #f0f0f0;
    position: relative;
    top: 70px;
  }
  .l-grid{
    width: 100%;
    max-width: 1344px;
    margin-left: auto;
    margin-right: auto;
  }
  .container {
    padding: 1em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2em;
  }
  
  .card {
    background: #FAFDFF;
    border-radius: 15px;
  }
  
  .card-description {
    padding: 0.5em;
    text-align: center;
  }
  
  .card-description a {
    color: #53575A;
  }
  
  .alert-info{
    padding: 1em;
    background: red;
    border-radius: 10px;
    color: #fff;
  }

.pagination{
  padding: 1em;
}
.btn-primary{
  padding: .4em .8em;
  border: none;
  border-radius: 5px;
  background: #007BDF;
  color: #FAFDFF;
  font-weight: bold;
}
.btn-primary:first-child{
  margin-right: 1.5em;
}
.btn-primary:hover{
  background: #006DC6;
  cursor: pointer;
}
.search{
  padding: 1em;
}
.search input{
  padding: .3em;
}

.container-detail{
  position: relative;
  top: 70px;
 padding: 2em;
}

.detail{
  width: 100%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(2,1fr);
}
.detail_img{
  grid-column: 1/2;
  grid-row: 1/2;
  background: #53575A;
}
.detail_info{
  grid-column: 2/3;
  grid-row: 1/2;
  padding: 1em;
}
.link-home{
  color: #007BDF;
  text-decoration: underline;
  margin-bottom: 1em;
}